@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');


// // Colors
$black: #333;

// Couleurs card content
$background:#92C894;

// Couleurs card
$card-color: #fff3b0;
// $border-color:  ;


$card-width:11rem;
$card-height:  18rem ;

// Typography
$title-font-family: 'Arial', sans-serif; // Police principale
$text-font-family: 'Tilt Neon', sans-serif; ;

// Variables h1
$h1-font-size: 3rem;
$h1-font-size-mobile: 2rem;
$h1-font-weight: bold;
$h1-line-height: 1.2;

// Variables h2
$h2-font-size: 2rem;
$h2-font-size-mobile: 1.5rem;
$h2-font-weight: bold;
$h2-line-height: 1.4;
$h2-line-height-mobile: 1.2;

// Variables h3
$h3-font-size: 1.5rem;
$h3-font-size-mobile: 1.25rem;
$h3-font-weight: bold;
$h3-line-height: 1.2;
$h3-line-height-mobile: 1.1;

// Variables body-highlight
$body-highlight-font-size: 1rem;
$body-highlight-font-weight: normal;
$body-highlight-line-height: 1.4;

// Variables body
$body-font-size: 1rem;
$body-font-weight: normal;
$body-line-height: 1.4;


h1{
    font-family: $title-font-family;
}

body{
    background-color: $background;
    color: $black;
    box-sizing: border-box;
}
.game-container{
    display: flex;
    border: 2px solid $black;
    flex-wrap: wrap;
    padding: 25px;
}

.memory-game {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }

  .card {
    border-radius: 5px;

    font-family: $text-font-family;
    width: $card-width;
    height: $card-height;
    background-color: $card-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: $h3-font-size;
  }
  .img-card{
    width: 100%;
    height: 100%;
  }

  .flipped {
    background-color: $background;
    border: 2px solid $black;
  }
  .card-img-top {
    flex: 1;
    aspect-ratio: 1;
    object-fit: cover;
  }

 
  